@using Client_Core_MVC.Models.JsonViewModel;
@model Allergie

@{
    ViewData["Title"] = "Create";
}

<h1 class="alert alert-heading">Add New Allergies</h1>

<form asp-action="Create" asp-controller="Allergie" method="post">
    <div class="form-group">
        <label for="AllergiesName" class="control-label">Allergies Name:</label>
        <input type="text" id="AllergiesName" name="AllergiesName" class="form-control" />
        <span asp-validation-for="AllergiesName" class="text-danger"></span>
    </div>

    <div class="form-group mt-2 d-flex justify-content-center">
        <input type="submit" value="SAVE" class="btn btn-info" />
    </div>
</form>

<div class="d-flex justify-content-end">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Allergie">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
