@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-light text-dark">
    <p class="alert alert-success display-4">About Excel Technologies Ltd</p>
    Excel Technologies Ltd. is a leading IT company in Bangladesh established in 1999. Specializing in networking, peripherals, printing solutions, security surveillance, and intelligent solutions, the company offers a diverse range of products. As an authorized distributor of TP-Link, Hikvision, Logitech, and other renowned brands, Excel Technologies is known for its quality and after-sales service.

    The company provides routers, extenders, switches, accessories, FTTH solutions, cables, storage devices, speakers, keyboards, and various networking accessories. Additionally, Excel Technologies offers a wide range of products in categories like gaming, mice, combos, headsets, webcams, printers, projectors, UCM, surveillance, and graphics tablets.

    Their blog section covers informative articles on topics such as streaming ICC Men’s World Cup 2023 matches, optimizing router placement for the best performance, and controlling bandwidth using TP-Link routers. The company is committed to keeping customers updated on the latest technologies and providing solutions for home and business needs.

    Excel Technologies is recognized for its expertise in security camera and surveillance systems, being an authorized partner of Hikvision. They offer professional training on the Hikconnect app and provide security solutions for homes, offices, and companies.

    In the realm of computer accessories and components, Excel Technologies is a trusted distributor. Their product range includes keyboards, mice, chargers, power banks, headphones, webcams, SSDs, RAM, drawing tablets, and more.

    The company is also a provider of IP phones and video conferencing solutions, partnering with Grandstream. They offer a range of IP and video phones, as well as solutions for business conferencing, IP video telephony, IP voice telephony, IP PBXs, and gateways & ATAs.

    DigitalX, their in-house brand, is prominent in the speaker and sound system market. Excel Technologies offers multimedia speakers, soundbars, portable speakers, trolley speakers, and computer multimedia speakers from brands like Logitech and Philips.

    Excel Technologies is known for its competitive prices and outstanding customer service. With ISO 9001:2015 certification, they ensure the quality of products and services. The company encourages customers to subscribe for updates and has multiple service centers across Bangladesh for convenient support.
</div>
