@using Client_Core_MVC.Models.JsonViewModel;
@model NCD

@{
    ViewData["Title"] = "Create";
}

<h1 class="alert alert-heading">Add New NCD</h1>

<form asp-action="Create" asp-controller="NCD" method="post">
    <div class="form-group">
        <label for="NCDName" class="control-label">NCD Name:</label>
        <input type="text" id="NCDName" name="NCDName" class="form-control" />
        <span asp-validation-for="NCDName" class="text-danger"></span>
    </div>
    <div class="form-group mt-2 d-flex justify-content-center">
        <input type="submit" value="SAVE" class="btn btn-info" />
    </div>
</form>

<div class="d-flex justify-content-end">
    <a class="btn btn-primary" asp-action="Index" asp-controller="NCDName">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}